:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #242424;
}


body {
  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  width: 100%;
}

/* h1 {
  color: white;
  background-color: #242424;
  padding: 10px 15px;
} */
nav {
  background-color: var(--black);
  color: white;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: centlefter;
  gap: 10px;
  padding: 15px 20px;
}

a {
  color: white;
  font-weight: 600;
}

a:hover {
  color: blue;
}
}